:root {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text);
  background: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  background: var(--color-background);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a:hover {
  color: #747bff;
}
button {
  background-color: #f9f9f9;
}

button {
  border-radius: .4em;
  border: 1px solid transparent;
  padding: .5em .8em;
  font-size: .9em;
  font-weight: 500;
  font-family: inherit;
  background-color: #DADADA;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 1px auto -webkit-focus-ring-color;
}

input[type="checkbox"] {
  appearance: none;
  display: inline-block;
  width: 1.8em;
  height: 1.8em;
  background-color: #fff;
  border: 1px solid var(--color-border);
  border-radius: .4em;
  overflow: hidden;
}

input[type="checkbox"]:checked {
  background-color: var(--color-text-hover);
  background-image: var(--icon-check);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

select {
  appearance: none;
  padding:.4rem 0 .4rem .6rem;
  border: 1px solid var(--color-border);
  background-image: var(--icon-expand);
  border-radius: .4em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
}

ul {
  list-style: none;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  min-width: 80rem;
  min-height: 40rem;
  margin: 0;
  padding: 0rem;
}

section{
  position: relative;
  padding: .5rem;
}

header.header-section{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--color-text-second);
}

header.header-section::after{
  content:'';
  display:block;
  flex:1;
  height:1px;
  margin-left: .5rem;
  background-color: var(--color-border);
}

button.button-flat{
  display:inline-block;
  border:none;
  border-radius: 0;
  width: 2.4em;
  height: 2.4em;
  opacity: .6;
  background-color:transparent;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

button.button-flat:hover{
  background-color:#DADADA;
}
